body{
background:#0d1b2a;
color:white;
font-family:Arial;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px;
background:#1b263b;
}

.menu a{
margin:10px;
color:white;
text-decoration:none;
}

.container{
padding:20px;
}

.card{
background:#1b263b;
padding:15px;
margin:10px 0;
border-radius:8px;
}
