body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(180deg, #0f172a, #0b1120);
  color: #ffffff;
}

h1 {
  font-size: 28px;
  margin-bottom: 5px;
}

.container {
  padding: 20px;
  max-width: 500px;
  margin: auto;
}
