.card {
  background: #111827;
  border-radius: 14px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-3px);
}

.card h3 {
  margin: 0;
  font-size: 18px;
}

.materia {
  font-size: 14px;
  opacity: 0.7;
}

.fecha {
  font-size: 13px;
  opacity: 0.6;
}

.badge {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.badge-success {
  background: #16a34a;
  color: white;
}

.badge-pending {
  background: #facc15;
  color: black;
}

.done {
  opacity: 0.6;
}
